<%= form_for(@userNew) do |f| %>
    <div class="field">
        <p class="label">Please enter your first name:</p><br>
        <%= f.text_field :first_name %><br>
        <p class="label">Please enter your last name:</p><br>
        <%= f.text_field :last_name %><br>
        <p class="label">Please enter your email adress:</p><br>
        <%= f.email_field :email %><br>
        <p class="label">Please enter your password:</p><br>
        <%= f.password_field :password %><br>
    </div>
    <div class="actions">
        <%= f.submit "Sign up" %>
    </div>
<% end %>