<div class="row">
<% @albums.each do |a| %>   
  <div class="col-md-3">
    <%= link_to(a) do %>
      <div class="thumbnail">
        <img src="<%= a.cover %>">
        <div class="caption">
          <h3 class="title"><%= a.title %></h3>
          <p class="artist"><%= a.artist %></p>
            <% if current_user %> 
                <p class="artist"><%= link_to 'Delete album', album_path(a), method: :delete %></p>
            <% else %> 
                  <!--If not loged in not showing add new part-->      
            <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
    <% if current_user %> 
        <div class="col-md-3">
            <div class="thumbnail">
                <%= link_to image_tag("https://dl.dropboxusercontent.com/u/66938641/add_new.png"), new_album_path %>
            <div class="caption">
              <h3 class="title"><%= link_to "Add new", new_album_path %></h3>
              <p class="artist">Add new album</p>
            </div>
          </div>
        </div>
    <% else %> 
          <!--If not loged in not showing add new part-->      
    <% end %>
</div>