<div class="show row">
  <div class="cover col-md-4">
      <% if current_user && current_user.admin? %>
          <div class="edit-button col-md-6"><%= link_to "Edit album info", edit_album_path(@album) %></div>
          <div class="edit-button col-md-6"><%= link_to "Add new track", new_album_track_path(@album) %></div> 
      <% elsif current_user %>
          <div class="edit-button col-md-6"><%= link_to "Add new track", new_album_track_path(@album) %></div> 
      <% else %> 
          <!--If not loged in not showing add new part-->      
      <% end %>
    </div>

  <div class="col-sm-8">
    <h3 class="album-title">  </h3>
    <p class="album-artist">  </p>

    <% @tracks.each do |track| %> 
    <div class="track row">
        <div class="name col-md-4"><%= track.name %></div>
        <div class="minutes col-md-2"><%= track.minutes %> min</div>
        <% if current_user && current_user.admin? %>
            <div class="col-md-2"> <%= link_to "Edit", edit_album_track_path(@album, track) %></div>
            <div class="col-md-2"> <%= link_to 'Delete', track_path(track), method: :delete %></div>
        <% end %>
    </div>
    <% end %>    
  </div>
</div>